<h1><%= word%></h1>
<ul>
<% if (reply.altResponse) { %>
	<span class="altResponse"><%= reply.altResponse%></span>
<% } %>
<% if (reply.responseUrls) { %>
	<% var scores = reply.responseScores; %>
	<% var urls = reply.responseUrls; %>
	<%for (var i=0; i<scores.length; i++) { %>
		<li id="li<%= i%>">
			<span class="score"><%= scores[i]%></span>
			<span class="url"> <a href="<%= urls[i] %>"><%= urls[i] %></a></span>
		</li>
	<% } %>
<% } %>
</ul>